{#
* Plugin Name : DeliveryPlus
*
* Copyright (C) 2016 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% extends 'default_frame.twig' %}
{% set menus = ['setting', 'admin_setting_plg_deliveryplus'] %}
{% block title %}基本情報設定{% endblock %}
{% block sub_title %}重さ・サイズデザイン設定{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script>
var setModeAndSubmit = function(mode, keyname, keyid) {
    document.form1.mode.value = mode;
    if(keyname !== undefined && keyname !== "" && keyid !== undefined && keyid !== "") {
        document.form1[keyname].value = keyid;
    }
    document.form1.submit();
};
</script>
{% endblock javascript %}

{% block main %}
            <form role="form" name="form1" id="form1" method="post" action="" >
            <input type="hidden" name="mode" value="regist">
            {{ form_widget(form._token) }}
            <div class="row" id="aside_wrap">
                <div class="col-md-9">
                    <div class="box form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                {{ form_label(form.tpl_detail) }}
                                <div class="col-sm-9 col-lg-10">
                                    {{ form_widget(form.tpl_detail, { attr : { 'rows' : 15, style : 'font-size:12px' } }) }}
                                    {{ form_errors(form.tpl_detail) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-9 col-lg-10">
                                    <a href="?" onClick="setModeAndSubmit('init1','',''); return false;" class="btn btn-info btn-block btn-lg">初期状態に戻す</a><br />
                                    商品詳細ページの重さ・サイズのデザイン編集を行われる際にご使用ください。<br />
                                    商品詳細ページに重さ・サイズの表示を行われる際は&nbsp;&lt;!-- product_weight_size --&gt&nbsp;をご希望される位置に挿入されてください。
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.tpl_cart) }}
                                <div class="col-sm-9 col-lg-10">
                                    {{ form_widget(form.tpl_cart, { attr : { 'rows' : 15, style : 'font-size:12px' } }) }}
                                    {{ form_errors(form.tpl_cart) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-9 col-lg-10">
                                    <a href="?" onClick="setModeAndSubmit('init2','',''); return false;" class="btn btn-info btn-block btn-lg">初期状態に戻す</a><br />
                                    カートページの重さ・サイズのデザイン編集を行われる際にご使用ください。<br />
                                    カートページに重さ・サイズ合計の表示を行われる際は&nbsp;&lt;!-- cart_weight_size --&gt&nbsp;をご希望される位置に挿入されてください。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col_inner" id="aside_column">
                        <div class="box no-header">
                            <div class="box-body">
                                <div class="row text-center">
                                    <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                        <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
{% endblock %}
