{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="container-fluid">
	<div id="pagetop"><p><a href="#top"><img src="/img/common/foot/pagetop.png" alt="PageTop" /></a></p></div>
	<div class="sitemap">
		<div class="inner">
			<p class="site_des">バレエ用品レオタード 子供通販</p>
			<ul class="col-xs-6 col-md-3">
				<li><a href="{{ url('homepage') }}">HOME</a></li>
				<li><a href="{{ url('homepage') }}products/list">商品一覧</a>
					<ul class="lv2">
						<li>レオタード/ウェア
							<ul class="lv3">
								<li><a href="{{ url('homepage') }}products/list?category_id=7">レオタード</a></li>
								<!--<li><a href="{{ url('homepage') }}products/list?category_id=8">ジュニアレオタード</a></li>
								<li><a href="{{ url('homepage') }}products/list?category_id=15">プチオーダーレオタード</a></li>-->
								<li><a href="{{ url('homepage') }}products/list?category_id=10">ニットトップス・ワンピース</a></li>
								<li><a href="{{ url('homepage') }}products/list?category_id=9">スカート</a></li>
								<li><a href="{{ url('homepage') }}products/list?category_id=11">パンツ・レッグウォーマー</a></li>
								<li><a href="{{ url('homepage') }}products/list?category_id=21">ふわふわニットシリーズ</a></li>
								<li><a href="{{ url('homepage') }}products/list?category_id=12">セレクトシリーズ</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="col-xs-6 col-md-3 lv2">
				<li>タイツ/シューズ/その他用品
					<ul class="lv3">
						<li><a href="{{ url('homepage') }}products/list?category_id=13">タイツ・ショーツ<br>・ボディファンデーション</a></li>
						<li><a href="{{ url('homepage') }}products/list?category_id=18">バレエシューズ</a></li>
					</ul>
				</li>
				<li>ギフト/小物
					<ul class="lv3">
						<li><a href="{{ url('homepage') }}products/list?category_id=14">シュシュ・シニヨンネット</a></li>
						<!--<li><a href="{{ url('homepage') }}products/list?category_id=17">名入れ刺繍グッズ</a></li>-->
						<li><a href="{{ url('homepage') }}products/list?category_id=24">刺繍タオルハンカチ</a></li>
						<li><a href="{{ url('homepage') }}products/list?category_id=25">刺繍フェイスタオル</a></li>
						<li><a href="{{ url('homepage') }}products/list?category_id=26">刺繍バッグ</a></li>
						<li><a href="{{ url('homepage') }}products/list?category_id=19">バレエ雑貨</a></li>
					</ul>
				</li>
			</ul>

			<ul class="col-xs-6 col-md-3 smart_cf tablet_cf">
				<li><a href="{{ url('homepage') }}handmade">アトリエで一つ一つ作っています</a></li>
				<li><a href="{{ url('contact') }}">お問い合わせ</a></li>
				<!--<li><a href="{{ url('homepage') }}">ジュエリー販売について</a></li>-->
				<li><a href="{{ url('homepage') }}studio/category/info/">お知らせ</a></li>
				<li><a href="{{ url('homepage') }}studio/category/event/">イベント</a></li>
				<li><a href="{{ url('homepage') }}ordermade">オーダーメイド</a>
					<ul class="lv2">
						<li><a href="{{ url('homepage') }}color_list">カラー一覧</a></li>
					</ul>
				</li>
				<li><a href="{{ url('homepage') }}cart">カート</a></li>
				<li><a href="{{ url('mypage') }}">マイページ</a></li>
				<li><a href="{{ url('help_about') }}">当サイトについて</a></li>
				<li><a href="{{ url('help_privacy') }}">プライバシポリシー</a></li>
				<li><a href="{{ url('help_tradelaw') }}">特定商取引に関する表記</a></li>
				<!--<li><a href="{{ url('homepage') }}studio">バレエ教室リスト</a></li>-->
			</ul>

			<ul class="col-xs-6 col-md-3">
				<li><a href="{{ url('homepage') }}size">サイズ/生地</a></li>
				<li><a href="{{ url('homepage') }}help/guide">ご注文について</a></li>
				<li><a href="{{ url('homepage') }}access">店舗紹介</a>
					<ul class="lv2">
						<!--<li><a href="{{ url('homepage') }}">cafe</a></li>-->
						<li><a href="{{ url('homepage') }}harukas">ハルカス</a></li>
					</ul>
				</li>	
				<li><a href="{{ url('homepage') }}studio/">教室について</a>
					<ul class="lv2">
						<li><a href="{{ url('homepage') }}studio/about/">ご利用について</a></li>
						<li><a href="{{ url('homepage') }}studio/school/">教室紹介</a></li>
						<li><a href="{{ url('homepage') }}studio/schedule/">教室スケジュール</a></li>
						<li><a href="{{ url('homepage') }}studio/access/">アクセス</a></li>
					
					</ul>
				</li>
			</ul>

			<ul class="sns_icons">
				<li><a href="https://www.instagram.com/balletshop.tiara/" target="_blank"><img src="/img/common/icon_insta.png" alt="Instagram" /></a></li>
			</ul>

			<!--<ul>
				<li><a href="{{ url('help_about') }}">当サイトについて</a></li>
				<li><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></li>
				<li><a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表記</a></li>
				<li><a href="{{ url('contact') }}">お問い合わせ</a></li>
			</ul>-->
		</div>
	</div>

	<div class="footer_logo_area">
		<!--<p class="logo"><a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a></p>-->
		<p class="copyright">
			<small>copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</small>
		</p>
	</div>
</div>