<div id="top_pickup" class="row">
	<div class="inner">
		<p class="pc_hide center bnr"><a href="/img/home/pdf_sisyuu.pdf"><img src="/img/home/bnr_sisyuu_sp.png" alt="刺繍グッズ" /></a><br><span class="red">こちらの刺繍デザインはティアラオリジナルデザインです。類似品にご注意ください。</span></p>
		<p class="smart_hide tablet_hide bnr" style="text-align: right;"><a href="/img/home/pdf_sisyuu.pdf"><img src="/img/home/bnr_sisyuu.png" alt="刺繍グッズ" /></a><br><span class="red">こちらの刺繍デザインはティアラオリジナルデザインです。類似品にご注意ください。</span></p>


		<h2><img src="/img/home/h_pickup.png" alt="PICK UP" /></h2>

		<ul class="pickup_list">
			<li class="col-xs-4 col-md-2"><a href="{{ url('homepage') }}products/list?category_id=7">
				<div class="img_box">
					<p><img src="/img/home/pic_pickup_kids.jpg" alt="Leotard" /></p>
				</div>
				<div class="text_box">
					<p class="eng"><img src="/img/home/pickup_leotard.png" alt="Leotard" /></p>
					<p><span>/</span>レオタード</p>
				</div>
			</a></li>

			<li class="col-xs-4 col-md-2"><a href="{{ url('homepage') }}products/list?category_id=9">
				<div class="img_box">
					<p><img src="/img/home/pic_pickup_skirt.jpg" alt="Skirt" /></p>
				</div>
				<div class="text_box">
					<p class="eng"><img src="/img/home/pickup_skirt.png" alt="Skirt" /></p>
					<p><span>/</span>スカート</p>
				</div>
			</a></li>

			<li class="col-xs-4 col-md-2"><a href="{{ url('homepage') }}products/list?category_id=10">
				<div class="img_box">
					<p><img src="/img/home/pic_pickup_knit.jpg" alt="Knit tops & One-piece dress" /></p>
				</div>
				<div class="text_box">
					<p class="eng"><img src="/img/home/pickup_knit.png" alt="Knit tops & One-piece dress" /></p>
					<p><span>/</span>ニットトップス & ワンピース</p>
				</div>
			</a></li>

			<li class="col-xs-4 col-md-2"><a href="{{ url('homepage') }}products/list?category_id=11">
				<div class="img_box">
					<p><img src="/img/home/pic_pickup_pants.jpg" alt="Pants & Legwarmers" /></p>
				</div>
				<div class="text_box">
					<p class="eng"><img src="/img/home/pickup_pants.png" alt="Pants & Legwarmers" /></p>
					<p><span>/</span>パンツ & レッグウォーマー</p>
				</div>
			</a></li>

			<li class="col-xs-4 col-md-2"><a href="{{ url('homepage') }}products/list?category_id=12">
				<div class="img_box">
					<p><img src="/img/home/pic_pickup_select.jpg" alt="Select" /></p>
				</div>
				<div class="text_box">
					<p class="eng"><img src="/img/home/pickup_select.png" alt="Select" /></p>
					<p><span>/</span>セレクトシリーズ</p>
				</div>
			</a></li>

			<li class="col-xs-4 col-md-2"><a href="{{ url('homepage') }}products/list?category_id=18">
				<div class="img_box">
					<p><img src="/img/home/pic_pickup_ballet_shoes.jpg" alt="Ballet Shoes" /></p>
				</div>
				<div class="text_box">
					<p class="eng"><img src="/img/home/pickup_ballet_shoes.png" alt="Ballet Shoes" /></p>
					<p><span>/</span>バレエシューズ</p>
				</div>
			</a></li>
		</ul>
	</div>
</div><!-- /#top_pickup -->