{#
* Plugin Name : DeliveryPlus
*
* Copyright (C) 2016 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<div id="detail_box__plg_deliveryplus_weight" class="form-group">
    {{ form_label(plgForm.plg_deliveryplus_weight) }}
    <div class="col-sm-3 col-lg-3">
        {{ form_widget(plgForm.plg_deliveryplus_weight) }}
        {{ form_errors(plgForm.plg_deliveryplus_weight) }}
    </div>
</div>
<div id="detail_box__plg_deliveryplus_size" class="form-group">
    {{ form_label(plgForm.plg_deliveryplus_size) }}
    <div class="col-sm-3 col-lg-3">
        {{ form_widget(plgForm.plg_deliveryplus_size) }}
        {{ form_errors(plgForm.plg_deliveryplus_size) }}
    </div>
</div>
