{#
* Plugin Name : DeliveryPlus
*
* Copyright (C) 2016 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% if Weight %}
    {% if Weight.min == Weight.max %}
    <p>重さ： <span>{{ Weight.min }}</span> </p>
    {% else %}
    <p>重さ： <span>{{ Weight.min }}</span> ～ <span>{{ Weight.max }}</span></p>
    {% endif %}
{% endif %}

{% if Size %}
    {% if Size.min == Size.max %}
    <p>サイズ： <span>{{ Size.min }}</span> </p>
    {% else %}
    <p>サイズ： <span>{{ Size.min }}</span> ～ <span>{{ Size.max }}</span></p>
    {% endif %}
{% endif %}